# Binary files #
*.so

# Temporary files #
checkpoint/
*.log
*.swp
*.lck

# Eclipse project files #
.project
.classpath
.settings/
/bin/

# VSCode files #
.vscode

# IDEA files #
*.iml
.idea
.gitignore

# Model files #
*.caffemodel
*.ckpt*
*.pb